@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
p {
  font-weight: 400;
  font-size: 1rem;
  color: #333;
  line-height: 1.5rem;
}
ul.hover-text > li > a > img {
  filter: grayscale(100%) brightness(1);
  transition: all 0.3s ease;
  width: 22px;
  height: 22px;
}
ul.hover-text > li > a {
  transition: all 0.3s ease;
  font-size: 16px;
}
ul.hover-text > li > a:hover > img,
ul.contact > li > a:hover > img {
  filter: invert(82%) sepia(98%) saturate(7496%) hue-rotate(228deg)
    brightness(88%) contrast(127%);
}
ul.hover-text > li > a {
  color: #fff;
  font-size: 1rem;
}
ul.hover-text > li > a:hover {
  color: #00007a;
}
.btn-blue {
  background-color: #00007a;
  color: #fff;
  border-radius: 50px;
  padding: 10px 25px;
  transition: all ease-in 0.3s;
}
.btn-blue:hover {
  background-color: #57a0d3;
}
.bg-black {
  background-color: #000;
  transition: ease-in-out 0.2s all;
}

.navbar ul > li > a {
  transition: all ease-in 0.2s;
  font-size: 1rem;
  color: #fff;
}
ul#services-dropdown li > a {
  color: #00007a;
}
.navbar ul > li > a:hover,
ul#services-dropdown li > a:hover {
  background-color: #00007a;
  color: #fff;
  border-radius: 4px;
}
.section {
  padding: 80px 0;
}
ul.social-icon > li > a > img {
  width: 30px;
  height: 30px;
}
ul.contact > li > a > img {
  width: 30px;
  height: 30px;
}
ul.contact > li > a {
  font-size: 28px;
  font-weight: 600;
  color: #fff;
}
.footer-nav > li > a {
  font-size: 16px;
  color: #fff;
  padding-right: 20px;
  padding-left: 20px;
  transition: all ease-in 0.2s;
}

ul.contact > li > a:hover,
.footer-nav > li > a:hover {
  color: #00007a;
}
.banner-text {
  position: relative;
  text-align: center;
  color: #fff;
  height: 100%;
}
.banner-text > h1 {
  font-size: 4rem;
  font-weight: 800;
  line-height: 5.5rem;
  margin-bottom: 10px;
}
.banner-text > h3 {
  font-size: 2.5rem;
  line-height: 4rem;
  margin-top: 0px;
  font-weight: 500;
}
.banner-text > h3 > span {
  background-color: #00007a;
  padding: 2px 4px;
  border-radius: 4px;
}

.btn-blue.btn-spacing,
.banner-text .btn-blue {
  padding: 1.125rem 2.813rem;
}
.about-section img {
  margin: 5px auto;
}
.about-section img.logo-restore {
  height: 3.438rem;
  margin-bottom: 3.125rem;
}
.services-box {
  position: relative;
  z-index: 0;
  border-radius: 4px;
  overflow: hidden;
}
.services-box::before {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  content: "";
  width: 100%;
  height: 100%;
  transition: all ease-in 0.3s;
}
.services-box:hover::before {
  background-color: rgba(0, 0, 0, 0.9);
}
.services-box .service-info {
  position: absolute;
  content: "";
  bottom: 50px;
  color: #fff;
  text-align: center;
  z-index: 5;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.services-box .service-info h3 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 0.625rem;
}
.services-box .service-info p {
  color: #fff;
}
.heading-section img {
  margin: 0px auto 15px auto;
}
.heading-section > span {
  margin-bottom: 0.625rem;
  display: block;
}
.heading-section h4 {
  font-weight: 800;
  font-size: 3rem;
  text-transform: uppercase;
  margin-top: 0;
  line-height: 2.125rem;
  margin-bottom: 3.125rem;
}
.light-blue-100 {
  background-color: #e3f2ff;
}

.info-box {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
}

.physician-slider h3 {
  color: #fff;
  margin-bottom: 20px;
}
.physician-slider a {
  background-color: #00007a;
  font-size: 1rem;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 50px;
  color: #fff;
}
.arrow-left,
.arrow-right {
  font-size: 50px;
  color: #333;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}
.hero-slider {
  position: relative;
  overflow: hidden;
}

/* Image */
.hero-slider .item img {
  width: 100%;
  height: auto;
  display: block;
}

/* Overlay Content */
.hero-slider .overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  z-index: 5;
  width: 100%;
}
/* Arrows */
.hero-slider .arrow-left,
.hero-slider .arrow-right {
  font-size: 40px;
  color: white;
  padding: 10px 15px;
  border-radius: 50%;
  cursor: pointer;
}
.hero-slider .owl-nav {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  padding: 0 20px;
  z-index: 10;
}
.brand-section {
  background-color: #57a0d3;
  padding: 80px 0;
}
.brand-section {
  position: relative;
}
.brand-section img {
  max-width: 100%;
  height: auto;
}
.testimonial {
  position: relative;
  z-index: 0;
}
.testimonial::before {
  background-color: rgba(0, 0, 0, 0.5);
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}
.testimonial-slider h3 {
  font-size: 24px;
  color: #fff;
  margin-bottom: 25px;
}
.testimonial-slider p {
  font-size: 16px;
  color: #fff;
}
.testimonial .owl-nav .owl-prev > span,
.testimonial .owl-nav .owl-next > span {
  font-size: 23px;
  color: #333;
  background-color: #ccc;
  border-radius: 4px;
  padding: 5px 10px;
}

.services-list {
  position: relative;
  z-index: 2;
}
.services-list img {
  object-fit: cover;
  width: 100%;
  height: auto;
}
.header-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 30;
}
.header-top .bg-transparent .blue-logo {
  display: none;
}
.header-top .bg-transparent #menu-toggle {
  color: #fff;
}
.header-top .bg-white #menu-toggle {
  color: #00007a;
}

.header-top nav.bg-white .blue-logo {
  display: block;
}
.header-top nav.bg-white .white-logo {
  display: none;
}
nav.bg-white ul > li > a {
  color: #00007a;
}
nav.bg-white ul > li > a.btn-blue {
  color: #fff;
}
@media screen and (min-width: 1280px) {
  .services-section.bg-triangle::before {
    background-image: url("../images/left_triangle_blue.svg");
    width: 223px;
    height: 478px;
  }
  .services-section.bg-triangle::after {
    background-image: url("../images/right_triangle_blue.svg");
    width: 204px;
    height: 545px;
  }
  .bg-triangle {
    position: relative;
    z-index: 0;
  }

  .bg-triangle::before,
  .bg-triangle::after {
    content: "";
    position: absolute;
    bottom: 0;
  }

  .bg-triangle::before {
    left: 0;
    height: 491px;
    width: 151px;
    background-image: url("../images/left_triangle.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    z-index: 1;
  }
  .bg-triangle::after {
    right: 0;
    height: 491px;
    width: 151px;
    background-image: url("../images/right_triangle.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    z-index: 1;
  }
  .logo > img {
    width: auto;
    height: 60px;
  }
  .banner-text > h1 {
    font-size: 4rem;
    font-weight: 800;
    line-height: 5.5rem;
  }
  .banner-text > h3 {
    font-size: 2.5rem;
    line-height: 4rem;
    font-weight: 500;
  }
}
@media screen and (min-width: 768px) {
  .banner-text > h1 {
    font-size: 3rem;
    font-weight: 800;
    line-height: 4.5rem;
  }
  .banner-text > h3 {
    font-size: 2rem;
    line-height: 4rem;
    font-weight: 500;
  }
}
@media screen and (max-width: 767px) {
  .banner-text > h1 {
    font-size: 2rem;
    font-weight: 800;
    line-height: 2.5rem;
  }
  .banner-text > h3 {
    font-size: 1rem;
    line-height: 4rem;
    font-weight: 500;
  }
}
@media (min-width: 1024px) {
  .hero-slider .owl-carousel .owl-item img {
    height: 100vh;
  }
  .map-block > iframe {
    width: 100%;
    height: 550px;
  }
}
.hero-slider .item img {
  object-fit: cover;
  height: 100vh;
}
.banner-text > h1 {
  font-weight: 800;
  margin-bottom: 10px;
}
.banner-text > h3 {
  margin-top: 0px;
  font-weight: 500;
}
.logo > img {
  width: auto;
  height: 45px;
}

.physician-slider .owl-nav button.owl-prev,
.physician-slider .owl-nav button.owl-next,
.testimonial-slider .owl-nav button.owl-prev,
.testimonial-slider .owl-nav button.owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  font-size: 2rem;
  color: #333;
}

.physician-slider .owl-nav button.owl-prev,
.testimonial-slider .owl-nav button.owl-prev {
  left: -30px;
}

.physician-slider .owl-nav button.owl-next,
.testimonial-slider .owl-nav button.owl-next {
  right: -30px;
}
.bg-blue-ligt {
  background-color: #dbecfe;
}
.pt-120 {
  padding-top: 70px;
}
.pb-120 {
  padding-bottom: 70px;
}
.physicians-section p {
  line-height: 1.7rem;
}
.bg-blue-ligt > img {
  height: 289px;
  width: 100%;
  object-fit: cover;
  object-position: top;
}
.bg-blue-ligt p {
  font-size: 15px;
}
.appointment-section {
  position: relative;
  z-index: 1;
}
.appointment-section:before {
  position: absolute;
  z-index: 5;
  background-color: rgba(0, 25, 40, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
}
.sub-header {
  position: relative;
  z-index: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.sub-header::before {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.6);
  content: "";
}
.brand-section {
  background-color: #dcdcdc;
  padding: 40px 0;
}
.from-block {
  border-radius: 8px;
  padding: 60px 80px;
}
.from-block label {
  color: #fff;
  margin-bottom: 15px;
  font-size: 1rem;
  display: block;
}
.sub-header h1 {
  font-size: 2rem;
}
.location-block::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  width: 80%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 4;
  height: 80%;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 4px;
  transition: all ease-in 0.2s;
}
.location-block p {
  color: #fff;
}
.location-block h2 {
  margin-bottom: 15px;
}
.location-block:hover::before {
  background-color: rgba(22, 2, 95, 1);
}

.services_list > li > a {
  font-size: 1rem;
  color: #333;
  display: block;
  padding-bottom: 10px;
  border-bottom: 1px dotted #bbbbbb;
  padding-top: 10px;
  transition: all ease-in 0.2s;
}
.services_list > li > a:hover {
  border-bottom: 1px dotted #fff;
  color: #00007a;
}

.services_card h3:hover {
  color: #00007a;
}
.services_list > li > a {
  position: relative;
  font-weight: 500;
}

.services_list > li > a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 0%;
  background-color: #00007a; /* Line color */
  transition: width 0.3s ease;
}

.services_list > li > a:hover::after {
  width: 100%;
}

.service_img > a img,
.service_img > img {
  height:100%;
  transition: transform 0.4s ease-in-out;
  object-position: top center;
}
.service_img {
  overflow: hidden;
}
.service_img:hover img,
.service_img a:hover img {
  transform: scale(1.2);
}
ul.list_sub_services {
  padding-top: 25px;
}
.list_sub_services > li > a {
  display: block;
  padding: 20px 25px;
  border-bottom: 1px solid #bbbbbb;
  transition: all ease-in-out 0.3s;
  font-weight: 500;
}
.list_sub_services > li > a:hover,
.list_sub_services > li > a.active {
  background-color: #fff;
  border-bottom: 1px solid #00007a;
  color: #00007a;
  box-shadow: 0 2px 0px rgba(0, 0, 0, 0.1);
}
.left-side {
  background-color: #eee;
}
.left-side > h2 {
  padding: 15px 25px;
}
.services_over {
  position: relative;
}
.services_over h1 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 10px;
}
.services_over h2 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 30px;
}
.sub_section {
  position: relative;
  padding: 10px 0;
}
.sub_section ul {
  padding: 20px 15px;
}
.sub_section ul > li {
  list-style-position: outside;
}
html {
  scroll-behavior: smooth; /* CSS smooth scroll */
}
.hero-slider .item {
  position: relative;
  z-index: 0;
}
.contact_header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.hero-slider .item::before {
  background: #000;
  background: linear-gradient(
    179deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(31, 30, 30, 0.18) 100%
  );
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
#overview,
#pre_procedure_details,
#procedure_details,
#post_procedure_details {
  scroll-margin-top: 120px;
}
#pre_procedure_details,
#overview p,
#pre_procedure_details p,
#procedure_details p,
#post_procedure_details li,
#procedure_details li,
#pre_procedure_details li,
#overview li {
  color: #333;
}
#overview h1,
#pre_procedure_details h1,
#procedure_details h1,
#post_procedure_details h1 {
  font-size: 22px;
  font-weight: 800;
  color: #333;
}
.detail_sub_services h3 {
  font-size: 24px;
  font-weight: 600;
  color: #333;
  margin-top: 30px;
  margin-bottom: 30px;
}
.details_red_box {
  border-left: 4px solid #00007a;
 
}
#overview p,
#pre_procedure_details p,
#procedure_details p,
#post_procedure_details p {
  margin-bottom: 20px;
}
.details_red_box h3 {
  color: #00007a;
}
.img-block {
  margin: 30px auto;
}
.img-block img {
  max-width: 100%;
  height: auto;
  margin: auto;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
}
.schdule-box {
  background-color: rgba(0, 0, 122, 0.1);
  color: #333;
}
.light-bg {
  background-color: #d3e9f9;
}
.schdule-box p {
  color: #333;
}
.schedule-box h3{
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 12px;
}
.schedule-box a{
  font-weight: 800;
  color: #00007a;
  transition: ease-in 0.2s all;
}
.schedule-box a:hover{ text-decoration:underline;}
.schedule-box .icon > svg{
  width: 35px;
  height: auto;
  margin: 10px auto 15px auto;
  stroke: rgb(0, 0, 122) !important;
}
.schedule-box .icon > svg>path{stroke: rgb(0, 0, 122) !important;}
@media  (max-width: 767px) {
ul.list_sub_services{display: flex;
  flex-wrap: wrap;}
  ul.list_sub_services >li{
    width: 50%;
  }
  .pt-120.side-fixed-bar{ padding-top: 0px;}
}
.services_card{
  border: 1px solid #efefef;
  transition: all 0.2s ease-in;
}
.services_card:hover{
  border: 1px solid #00007a;
}
.services_card:hover h3{
  color: #00007a;
}
.profile-img {
  width: 250px;
  height: 250px;
  border-radius: 100%;
  margin: 14px auto;
  box-shadow:0px 0px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #95c8fd;
  object-fit: cover;
  object-position: top;
}
.treat-ment-section .services_card{
background-color: #d3e9f9;
}
.profile-detail h3,.profile-detail h2{
  color: #00007a;
  margin-bottom: 20px;
  margin-top: 20px;
  font-weight: 700;
}
.location-block img{ width: 22px; height: auto;}
.profile-detail h3{ font-size: 22px; font-weight: 900;}
.profile-detail h2{ font-size: 25px; font-weight: 800;}
.profile-socil-icon > li >a > img{filter: grayscale(90%) brightness(0) !important;}
@media screen and(max-width:1223px){
  nav ul.bg-white > li > a{
    color: #00007a;
  }
  nav ul.bg-white > li:last-child > a{
    color: #fff;
  }
}
@media(max-width:768px){
  
  .list_sub_services > li > a {
    padding: 18px 20px;
    font-size: 14px;
  }
  .side-fixed-bar{
    z-index: 99;
  }
  ul.list_sub_services {
    padding-top: 0;
  }
  #overview, #pre_procedure_details, #procedure_details, #post_procedure_details {
    scroll-margin-top: 220px;
}
.logo > img{
  height: 29px;
}
ul.hover-text > li > a{
  font-size: 14px;
}
.sub-header h1{
  font-size: 1rem;
}
.light-bg .p-6{
  padding-left: 0;
  
}
}

